<div class="form-wrapper">
  <h1>login</h1>
  <div *ngIf="0 < errors.length">
      <ul>
        <li *ngFor="let error of errors">
          <label id="lblErr">{{error}}</label>  
        </li>
      </ul>
  </div>
  <div>
    <div class="form-item">
      <label for="UserId">USER</label>
      <input type="text" [(ngModel)]="id" >
    </div>
    <div class="form-item">
      <label for="password">PASSWORD</label>
      <input type="password" [(ngModel)]="password" >
    </div>
    <div class="button-panel">
      <input (click)='login()' class="button" title="LOGIN" value="LOGIN">
    </div>
    <div class="form-footer">
      <p><a href="#">Create an account</a></p>
      <p><a href="#">Forgot password?</a></p>
    </div>
  </div>
</div>